body {
    font-family: 'Space Mono';font-size: 2em;
    text-align: center;
    background-image: url(../images/stars.gif);
    background-color: #434245;
    background-attachment:fixed;

    
    
}


footer{
    color: #FF8700;
}


#slack{
    color: #FF8700;
}

#zoom{
    color:#ff0070;
    animation: moves 3s, 2;
}

#hackclub{
    color:#df00ff;
}

#github{
    color: #00FF04;
}
p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
}

.contact{
    color: #f8f5ff;
}

.contact, a{
    color: #f8f5ff;
}

 section {

        color: #f8f5ff;
        text-shadow: 2px 2px 6px #000000;
        border-radius: .1em;
        padding: .1em;
        position: absolute;
        left: 50%;
         margin-right: -30%;
        transform: translate(-50%, 0%) }

.welcome{
    font-family: 'Space Mono', monospace;
    animation: colorchange 3s, 3;


}

img {
  border-radius: 10%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  animation: moves 4s, 3;
}

.fa:hover {
    opacity: 0.7;
    
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
 
@keyframes colorchange {
      0% {
        
        color: #FFE400;
        transform: rotateZ(0deg) rotateY(0deg);
      }
      
      16.5% {
        
        color: #00FF65;
        transform: rotateZ(5deg) rotateY(10deg);
      }
    
      33% {
        
        color: #001BFF;
        transform: rotateZ(0deg) rotateY(0deg);
      }
      
     39.5% {
        
        color: #FF1902;
        transform: rotateZ(-5deg) rotateY(-10deg);
      }
      66%{
        
        color: #001BFF;
        transform: rotateZ(0deg) rotateY(0deg);
      }
      82.5% {
        
        color: #00FF65;
        transform: rotateZ(5deg) rotateY(-10deg);
      }
      
    }

@keyframes moves{
                0%{transform: rotateZ(0deg) rotateY(0deg);}
                25%{transform: rotateZ(60deg) rotateY(30deg);}
                50%{transform: rotateZ(0deg) rotateY(0deg);}
                75%{transform: rotateZ(-60deg) rotateY(-30deg);}
                100%{transform: rotateZ(0deg) rotateY(0deg);}
        
            }

#NV {
  visibility: hidden;
}
